.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .welcome{
    text-align: center;
  }
  .card-title{
    text-align: center;
  }
  .footer{
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 10px;
  }