.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .welcome{
    text-align: center;
  }
  .card-title{
    text-align: center;
    padding-top: 15px;
  }
  .footer{
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 10px;
  }
  .btn {
    display:block;
    border-radius: 50%;
    border: 1px solid red;
    
  }